<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">
        <% if current_user.has_role?("Doctor") %>
          <%= appointment.booked_by.full_name %>'s Appointment
        <% else %>
          <%= appointment.user.full_name %>'s Appointment
        <% end %>
      </h5>
      <button type="button" class="btn-close close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true"></span>
      </button>
    </div>
    <div class="modal-body">

      <p>
        <strong>Date:</strong>
        <%= appointment.date.strftime("%d-%B-%Y") %>
      </p>

      <p>
        <strong>Timings:</strong>
        <%= appointment.start_time.localtime.strftime("%I:%M %p") %> - <%= appointment.end_time.localtime.strftime("%I:%M %p") %>
      </p>

      <p>
        <strong>Booked With:</strong>
        <%= appointment.user.full_name %>
      </p>

    </div>
    <div class="modal-footer">
      <%= link_to 'Edit', edit_appointment_path(appointment), class: "btn btn-primary" %>
      <%= link_to 'Destroy', appointment, method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(".close").click(function(){
    $(".modal").hide();
  });
</script>
